/* Colour variables */
:root {
    --swatch-1: #495467;
    --swatch-2: #a18858;
    --dark-mode: #272f3d;
    --anemo-theme: #70bca3;
    --cryo-theme: #9fd6e3;
    --pyro-theme: #e37335;
    --geo-theme: #edad30;
    --dendro-theme: #9dbe38;
    --electro-theme: #a687b7;
    --hydro-theme: #49b8e5;
  }
/* Main elements */
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Murecho", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    background-color: var(--dark-mode);
  }
  h1 {
    font-size: 56px;
    letter-spacing: 0.05em;
    font-weight: 600;
    line-height: 1.2em;
  }
  h2 {
    font-size: 34px;
    line-height: 1.2em;
  }

  /*Class Elements */
  .cpy-pop {
    position: fixed;
    top: auto;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    max-width: 150px;
    background-color: rgba(73, 84, 103, 0.7);;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 15px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    color: white;
    font-weight: 500;
    opacity: 0;
    border-radius: 5px;
    transition-duration: 200ms;
  }
  .error-pop {
    position: fixed;
    top: auto;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    max-width: 340px;
    background-color: rgba(240, 80, 80, 0.7);;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 15px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    color: white;
    font-weight: 500;
    opacity: 0;
    border-radius: 5px;
    transition-duration: 200ms;
  }
  .pop-show {
    opacity: 100%;
  }
  .page-down-btn {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 20px;
    left: auto;
    z-index: 3;
    padding: 10px;
    background-color: #333333;
    max-width: 40px;
    max-height: 40px;
    color: white;
  }
  .page-down-btn:hover {
    color: var(--swatch-2);
    filter: brightness(120%);
  }
  .hero-section {
    background-color: var(--swatch-1);
    margin: 0;
    color: white;
    position: relative;
    overflow: hidden;
  }
  .hide {
    display: none !important;
  }
  .hero-div {
    display: flex;
    align-items: center;
    position: relative;
  }
  .hero-left {
    flex-basis: 40%;
    padding-right: 25px;
  }
  .global-section {
    margin: 0 auto;
    max-width: 2560px;
    padding: 60px 0;
    background-color: var(--dark-mode);
    color: white;
  }
  .global-div {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  .img-credit-text {
    position: absolute;
    z-index: 2;
    font-size: 10px;
    top: auto;
    right: auto;
    left: 60px;
    bottom: 5px;
    margin: 0;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
  }
  .img-credit-link {
    color: white;
    transition-duration: 200ms;
  }
  .img-credit-link:hover {
    color: var(--swatch-2);
    filter: brightness(120%);
  }
  .cover-image {
    width: 60%;
    padding-top: 40%;
    z-index: 1;
    position: relative;
  }
  .image-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gradient-fill {
    background: rgb(73, 84, 103);
    background: linear-gradient(
      90deg,
      rgba(73, 84, 103, 1) 0%,
      rgba(73, 84, 103, 0.5) 75%,
      transparent 100%
    );
    position: absolute;
    z-index: 2;
    width: 10%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
  }
  .gradient-reversed {
    background: rgb(73, 84, 103);
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(73, 84, 103, 0.9) 75%,
      rgba(73, 84, 103, 1) 100%
    );
    right: 0;
    left: auto;
  }
  .button-holder {
    display: flex;
    align-items: center;
    margin: -10px -8px;
    flex-wrap: wrap;
  }
  .master-button {
    display: flex;
    align-items: center;
    background-color: var(--swatch-1);
    color: white;
    font-size: 16px;
    padding: 15px 25px 16px;
    margin: 10px 8px;
    border-radius: 16px;
    font-weight: 500;
    transition-duration: 250ms;
    cursor: pointer;
  }
  .master-button:hover {
    filter: brightness(120%);
  }
  .secondary-button {
    background-color: var(--swatch-2);
  }
  .anemo-button {
    background-color: var(--anemo-theme);
  }
  .geo-button {
    background-color: var(--geo-theme);
  }
  .electro-button {
    background-color: var(--electro-theme);
  }
  .dendro-button {
    background-color: var(--dendro-theme);
  }
  .hydro-button {
    background-color: var(--hydro-theme);
  }
  .result-value {
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 500;
    margin: 0;
  }
  .buttons-div {
    padding-bottom: 20px;
  }
  .selector-holder {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 40px;
    margin: 0 -10px;
  }
  .field {
    margin: 0 10px;
  }
  .field select,
  input {
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 16px;
    border-width: 2px;
    border-color: var(--swatch-1);
    color: var(--swatch-1);
  }
  .field label {
    padding-right: 10px;
  }
  .switch-field {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
  }
  .switch-label {
    margin: 0;
    margin-right: 10px;
  }
  .msg-notice {
    font-size: 22px;
    line-height: 1.3;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--swatch-1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: var(--swatch-2);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--swatch-2);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .result-div {
    padding: 0 0 40px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }